<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actionbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,109}}</string>
                <key>sourceSize</key>
                <string>{320,109}</string>
            </dict>
            <key>btnS_fblogin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,315},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>btnS_fblogin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>loadingbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{311,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,22}}</string>
                <key>sourceSize</key>
                <string>{311,22}</string>
            </dict>
            <key>loadingtxtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{50,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,13}}</string>
                <key>sourceSize</key>
                <string>{50,13}</string>
            </dict>
            <key>mov_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{56,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mov_start10.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,118},{50,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{50,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mov_start11.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,60},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{50,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mov_start12.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,457},{52,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{52,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mov_start13.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,352},{54,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mov_start14.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,236},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mov_start15.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mov_start16.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,178},{56,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mov_start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,120},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mov_start3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,358},{58,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mov_start4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mov_start5.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,62},{56,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mov_start6.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,294},{54,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{54,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mov_start7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{52,56}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{52,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mov_start8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,457},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{50,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mov_start9.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,457},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{50,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>prog_mainloading.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{219,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,10}}</string>
                <key>sourceSize</key>
                <string>{219,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45abe3eb0967aa23a0d83c32de790f6c$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
