<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actionbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{640,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,217}}</string>
                <key>sourceSize</key>
                <string>{640,217}</string>
            </dict>
            <key>btnS_fblogin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,882},{255,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,63}}</string>
                <key>sourceSize</key>
                <string>{255,63}</string>
            </dict>
            <key>btnS_fblogin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{255,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,63}}</string>
                <key>sourceSize</key>
                <string>{255,63}</string>
            </dict>
            <key>loadingbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,259},{621,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,43}}</string>
                <key>sourceSize</key>
                <string>{621,43}</string>
            </dict>
            <key>loadingtxtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,947},{99,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,26}}</string>
                <key>sourceSize</key>
                <string>{99,26}</string>
            </dict>
            <key>mov_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,135},{111,109}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{111,109}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>mov_start10.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,563},{99,109}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{99,109}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>mov_start11.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,462},{99,111}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{99,111}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>mov_start12.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,357},{103,111}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{103,111}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>mov_start13.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,259},{107,111}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{107,111}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>mov_start14.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,901},{113,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{113,111}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>mov_start15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{113,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{113,109}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>mov_start16.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,24},{111,109}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{111,109}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>mov_start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,135},{111,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{111,109}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>mov_start3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{111,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{111,109}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>mov_start4.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,24},{113,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{113,109}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>mov_start5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{113,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{113,111}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>mov_start6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,248},{107,111}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{107,111}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>mov_start7.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,135},{103,111}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{103,111}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>mov_start8.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,368},{99,111}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{99,111}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>mov_start9.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,469},{99,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{99,109}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>prog_mainloading.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{437,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,20}}</string>
                <key>sourceSize</key>
                <string>{437,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bbe3a2781ed1f8d4efbf80b825fc0e3$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
